@model IEnumerable<XpertStore.Mvc.Models.ProdutoHomeViewModel>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    @foreach (var produto in Model)
    {
        <div class="card col-4">
            <img src="~/images/@produto.Imagem" alt="@produto.Imagem" class="card-img-top">
            <div class="card-body">
                <h5 class="card-title">@produto.Nome</h5>
                <p class="card-text">@produto.Descricao</p>
                <a asp-action="Details" asp-controller="Produtos" asp-route-id="@produto.Id" class="card-link">
                    Atualizar
                </a>
            </div>
        </div>
    }
</div>